header {
  background-image: url("/Home_Page/Assets/Images/DSC_6257-Pano-2.jpg");
  text-align: center;
  display: block;
  color: white;
  padding: 40px;
  font-size: 30px;
  margin: auto;
  background-size: cover;
  height: 200px;
  max-width: 1284px;
  text-shadow: 2px 2px hsla(0, 0%, 50%, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 1284px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
}

/* .topBar {
  grid-area: header;
} */
